h1.title,
h2.title,
h3.title,
h4.title {

  &-h1,
  &-h2,
  &-h3,
  &-h4 {
    margin: 0;
    font-family: Barlow;
    color: #7e4753;
  }

  &-h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.6;
  }

  &-h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.5;
  }

  &-h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  &-h4 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}


.typography-l,
.typography-m,
.typography-s {
  margin: 0;
  font-family: Barlow;
  font-weight: 400;
}

.typography-l {
  font-size: 18px;
  line-height: 24px;
}

.typography-m {
  font-size: 14px;
  line-height: 16px;
}

.typography-s {
  font-size: 12px;
  line-height: 18px;
}